#container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#film{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}
.info{
  font-size: 20px;
  font-weight: bold;

}
